/// TODO: Apply styles based upon utility classes
.Logo {

  .small {
    height: var(--height-small);
  }

  .medium {
      height: var(--height-medium);
  }

  .large {
      height: var(--height-large);
  }

}