$unit: map-get($tokens, 'unit');
$colors: map-get($tokens, 'colors');
$fonts: map-get($tokens, 'fonts');
$headings: map-get($tokens, 'headings');
$sizing: map-get($tokens, 'sizing');
$spacing: map-get($tokens, 'spacing');

$color-types: "bg" "Background Color" "background-color",
              "fg" "Foreground Color" "color";

$sizing-types: "height", "width";
$spacing-types: "margin", "padding";